In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('..//data//raw//premier_league.csv')

In [3]:
df.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,FK,PK,PKatt,xG_y,npxG,npxG/Sh,G-xG,np:G-xG,Team,Season
0,2020-09-21,20:15,Premier League,Matchweek 2,Mon,Away,W,3.0,1.0,Wolves,...,2.0,1.0,1.0,1.9,1.1,0.09,1.1,0.9,ManchesterCity,2020-2021
1,2020-09-27,16:30,Premier League,Matchweek 3,Sun,Home,L,2.0,5.0,Leicester City,...,1.0,0.0,0.0,0.9,0.9,0.05,1.1,1.1,ManchesterCity,2020-2021
2,2020-10-03,17:30,Premier League,Matchweek 4,Sat,Away,D,1.0,1.0,Leeds United,...,1.0,0.0,0.0,1.2,1.2,0.05,-0.2,-0.2,ManchesterCity,2020-2021
3,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Home,W,1.0,0.0,Arsenal,...,0.0,0.0,0.0,1.3,1.3,0.11,-0.3,-0.3,ManchesterCity,2020-2021
4,2020-10-24,12:30,Premier League,Matchweek 6,Sat,Away,D,1.0,1.0,West Ham,...,1.0,0.0,0.0,1.0,1.0,0.07,0.0,0.0,ManchesterCity,2020-2021

In [4]:
df.shape

(2186, 35)

In [5]:
df.sample(1).iloc[0]

Date                  2021-02-03
Time                       19:30
Comp              Premier League
Round               Matchweek 22
Day                          Wed
Venue                       Away
Result                         W
GF                           2.0
GA                           1.0
Opponent            Leeds United
xG_x                         1.6
xGA                          1.3
Poss                        37.0
Attendance                   NaN
Captain         Gylfi Sigurðsson
Formation                4-2-3-1
Referee           Michael Oliver
Match Report        Match Report
Notes                        NaN
Gls                          2.0
Sh                          10.0
SoT                          6.0
SoT%                        60.0
G/Sh                         0.2
G/SoT                       0.33
FK                           0.0
PK                           0.0
PKatt                        0.0
xG_y                         1.6
npxG                         1.6
npxG/Sh                     0.16
G-xG                         0.4
np:G-xG                      0.4
Team                     Everton
Season                 2020-2021
Name: 361, dtype: object

In [6]:
df.describe()

,GF,GA,xG_x,xGA,Poss,Attendance,Notes,Gls,Sh,SoT,...,G/Sh,G/SoT,FK,PK,PKatt,xG_y,npxG,npxG/Sh,G-xG,np:G-xG
count,2186.000000,2186.000000,2186.000000,2186.000000,2186.000000,1484.000000,0.0,2186.000000,2186.000000,2186.000000,...,2185.000000,2117.000000,2186.000000,2186.000000,2186.000000,2186.000000,2186.000000,2185.000000,2186.000000,2186.000000
mean,1.390668,1.390668,1.342864,1.342864,50.000915,38303.006739,NaN,1.338975,12.359103,4.126258,...,0.102769,0.292844,0.437786,0.114364,0.142726,1.342864,1.232845,0.101941,-0.003888,-0.008234
std,1.301710,1.301710,0.796334,0.796334,12.491059,17038.038816,NaN,1.273533,5.390011,2.401673,...,0.107615,0.268671,0.653117,0.337855,0.376342,0.796334,0.748430,0.047476,0.996598,0.983175
min,0.000000,0.000000,0.000000,0.000000,18.000000,2000.000000,NaN,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020000,-2.900000,-2.900000
25%,0.000000,0.000000,0.700000,0.700000,40.000000,26887.000000,NaN,0.000000,8.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.700000,0.700000,0.070000,-0.700000,-0.700000
50%,1.000000,1.000000,1.200000,1.200000,50.000000,36359.500000,NaN,1.000000,12.000000,4.000000,...,0.080000,0.250000,0.000000,0.000000,0.000000,1.200000,1.100000,0.090000,-0.100000,-0.100000
75%,2.000000,2.000000,1.800000,1.800000,60.000000,53013.000000,NaN,2.000000,16.000000,6.000000,...,0.150000,0.500000,1.000000,0.000000,0.000000,1.800000,1.600000,0.130000,0.600000,0.600000
max,9.000000,9.000000,5.900000,5.900000,82.000000,75546.000000,NaN,8.000000,32.000000,15.000000,...,1.000000,1.000000,4.000000,3.000000,3.000000,5.900000,4.400000,0.440000,4.700000,4.700000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2186 entries, 0 to 2185
Data columns (total 35 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2186 non-null   object
 1   Time          2186 non-null   object
 2   Comp          2186 non-null   object
 3   Round         2186 non-null   object
 4   Day           2186 non-null   object
 5   Venue         2186 non-null   object
 6   Result        2186 non-null   object
 7   GF            2186 non-null   float64
 8   GA            2186 non-null   float64
 9   Opponent      2186 non-null   object
 10  xG_x          2186 non-null   float64
 11  xGA           2186 non-null   float64
 12  Poss          2186 non-null   float64
 13  Attendance    1484 non-null   float64
 14  Captain       2186 non-null   object
 15  Formation     2186 non-null   object
 16  Referee       2186 non-null   object
 17  Match Report  2186 non-null   object
 18  Notes         0 non-null      float64
 19  Gls           2186 non-null   float64
 20  Sh            2186 non-null   float64
 21  SoT           2186 non-null   float64
 22  SoT%          2185 non-null   float64
 23  G/Sh          2185 non-null   float64
 24  G/SoT         2117 non-null   float64
 25  FK            2186 non-null   float64
 26  PK            2186 non-null   float64
 27  PKatt         2186 non-null   float64
 28  xG_y          2186 non-null   float64
 29  npxG          2186 non-null   float64
 30  npxG/Sh       2185 non-null   float64
 31  G-xG          2186 non-null   float64
 32  np:G-xG       2186 non-null   float64
 33  Team          2186 non-null   object
 34  Season        2186 non-null   object
dtypes: float64(21), object(14)
memory usage: 597.9+ KB

In [8]:
df.isna().sum()

Date               0
Time               0
Comp               0
Round              0
Day                0
Venue              0
Result             0
GF                 0
GA                 0
Opponent           0
xG_x               0
xGA                0
Poss               0
Attendance       702
Captain            0
Formation          0
Referee            0
Match Report       0
Notes           2186
Gls                0
Sh                 0
SoT                0
SoT%               1
G/Sh               1
G/SoT             69
FK                 0
PK                 0
PKatt              0
xG_y               0
npxG               0
npxG/Sh            1
G-xG               0
np:G-xG            0
Team               0
Season             0
dtype: int64

**some preprocessing points**

- transform date and time columns into datetime 

- delete Match [Report , Notes , xG_x , Attendance , Comp] columns 

- fill  [G/SoT , npxG/Sh , G/Sh , SoT% ] columns 

- Rename xG_y column into XG