### Data Preprocessing

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('../data//raw/premier_league.csv')

In [3]:
df.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,FK,PK,PKatt,xG_y,npxG,npxG/Sh,G-xG,np:G-xG,Team,Season
0,2020-09-21,20:15,Premier League,Matchweek 2,Mon,Away,W,3.0,1.0,Wolves,...,2.0,1.0,1.0,1.9,1.1,0.09,1.1,0.9,ManchesterCity,2020-2021
1,2020-09-27,16:30,Premier League,Matchweek 3,Sun,Home,L,2.0,5.0,Leicester City,...,1.0,0.0,0.0,0.9,0.9,0.05,1.1,1.1,ManchesterCity,2020-2021
2,2020-10-03,17:30,Premier League,Matchweek 4,Sat,Away,D,1.0,1.0,Leeds United,...,1.0,0.0,0.0,1.2,1.2,0.05,-0.2,-0.2,ManchesterCity,2020-2021
3,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Home,W,1.0,0.0,Arsenal,...,0.0,0.0,0.0,1.3,1.3,0.11,-0.3,-0.3,ManchesterCity,2020-2021
4,2020-10-24,12:30,Premier League,Matchweek 6,Sat,Away,D,1.0,1.0,West Ham,...,1.0,0.0,0.0,1.0,1.0,0.07,0.0,0.0,ManchesterCity,2020-2021

**transform date and time columns into datetime**

In [4]:
df['Date']=pd.to_datetime(df['Date'],format='%Y-%m-%d',errors='coerce')
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M')

**delete Match [Report , Notes , xG_x , Attendance] columns**

In [5]:
df.drop(columns=['Match Report','Notes','xG_x','Attendance','Comp'],axis=1,inplace=True)

**Rename xG_y column into XG**

In [6]:
df=df.rename(columns={'xG_y':'XG'})

**fill 69 values of [G/SoT , npxG/Sh , G/Sh , SoT% columns]**

In [7]:
mask=df['G/SoT'].isna()

In [8]:
mask_df=df.loc[mask]

In [9]:
df.loc[mask,'G/SoT']=mask_df['GF']/mask_df['SoT']

In [10]:
#expalin why nan because we divide about zer0
df[['GF','SoT']][df['G/SoT'].isna()].iloc[:30]

       GF  SoT
155   0.0  0.0
203   0.0  0.0
217   0.0  0.0
224   0.0  0.0
419   0.0  0.0
475   0.0  0.0
497   0.0  0.0
512   0.0  0.0
519   0.0  0.0
613   0.0  0.0
623   0.0  0.0
627   0.0  0.0
628   0.0  0.0
674   0.0  0.0
683   0.0  0.0
723   0.0  0.0
733   0.0  0.0
750   0.0  0.0
756   0.0  0.0
841   0.0  0.0
883   0.0  0.0
884   0.0  0.0
905   0.0  0.0
906   0.0  0.0
914   0.0  0.0
1092  0.0  0.0
1106  0.0  0.0
1195  0.0  0.0
1202  0.0  0.0
1269  0.0  0.0

In [11]:
df.loc[df['G/SoT'].isna(),'G/SoT']=0

In [12]:
df.loc[df['npxG/Sh'].isna(),'npxG/Sh']=0

In [13]:
df.loc[df['G/Sh'].isna(),'G/Sh']=1

In [14]:
df.loc[df['SoT%'].isna(),'SoT%']=0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2186 entries, 0 to 2185
Data columns (total 30 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2186 non-null   datetime64[ns]
 1   Time       2186 non-null   datetime64[ns]
 2   Round      2186 non-null   object
 3   Day        2186 non-null   object
 4   Venue      2186 non-null   object
 5   Result     2186 non-null   object
 6   GF         2186 non-null   float64
 7   GA         2186 non-null   float64
 8   Opponent   2186 non-null   object
 9   xGA        2186 non-null   float64
 10  Poss       2186 non-null   float64
 11  Captain    2186 non-null   object
 12  Formation  2186 non-null   object
 13  Referee    2186 non-null   object
 14  Gls        2186 non-null   float64
 15  Sh         2186 non-null   float64
 16  SoT        2186 non-null   float64
 17  SoT%       2186 non-null   float64
 18  G/Sh       2186 non-null   float64
 19  G/SoT      2186 non-null   float64
 20  FK         2186 non-null   float64
 21  PK         2186 non-null   float64
 22  PKatt      2186 non-null   float64
 23  XG         2186 non-null   float64
 24  npxG       2186 non-null   float64
 25  npxG/Sh    2186 non-null   float64
 26  G-xG       2186 non-null   float64
 27  np:G-xG    2186 non-null   float64
 28  Team       2186 non-null   object
 29  Season     2186 non-null   object
dtypes: datetime64[ns](2), float64(18), object(10)
memory usage: 512.5+ KB

In [16]:
df.isna().sum()

Date         0
Time         0
Round        0
Day          0
Venue        0
Result       0
GF           0
GA           0
Opponent     0
xGA          0
Poss         0
Captain      0
Formation    0
Referee      0
Gls          0
Sh           0
SoT          0
SoT%         0
G/Sh         0
G/SoT        0
FK           0
PK           0
PKatt        0
XG           0
npxG         0
npxG/Sh      0
G-xG         0
np:G-xG      0
Team         0
Season       0
dtype: int64

In [18]:
df.to_csv('../data//processed//processed_1.csv',index=False)